* {
  box-sizing: border-box;
}

.body {
  margin: 0;
}

.app {
  margin: 0 auto;
  margin-top: 50px;
  width: 500px;
  background-color: red;
}

.answer {
  background-color: black;
  color: aliceblue;
  text-align: end;
}

.cancel {
  grid-area: c;
}

.back-arrow {
  grid-area: back;
}

.nine {
  grid-area: nine;
}

.eight {
  grid-area: eight;
}

.seven {
  grid-area: seven;
}

.six {
  grid-area: six;
}

.five {
  grid-area: five;
}

.four {
  grid-area: four;
}

.three {
  grid-area: three;
}

.two {
  grid-area: two;
}

.one {
  grid-area: one;
}

.zero {
  grid-area: zero;
}

.divide {
  grid-area: divide;
}

.multiply {
  grid-area: multiply;
}

.subtract {
  grid-area: subtract;
}

.add {
  grid-area: add;
}

.equal {
  grid-area: equal;
}

.button-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "c     c     back  divide"
    "seven eight nine  multiply"
    "four  five  six   subtract"
    "one   two   three add"
    "zero  zero  zero  equal";
}
